@import './preset.css';


.nav{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav .right{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

.nav .right .nav-link{
    text-decoration: none;
    color: #777;
}

.wrapper{
    margin: 15px 10px 15px 10px;
}
.wrapper .content{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.wrapper .content .intro{
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 20px;
}

.con{
    margin-bottom: 40px;
}

.con-img {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.con-img img{
    width: 30%;
}

.con-img .img-1{
    border-bottom: 1px solid;
}

.con-img .img-2{
    border-top: 1px solid;
}

footer{
    background: #9296F0;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    margin-top: 12px;
}